alembic==1.8.1
appdirs==1.4.4
attrs==22.1.0
Babel==2.11.0
beautifulsoup4==4.11.1
blinker==1.4
Brotli==1.0.9
cachelib==0.9.0
cattrs==22.2.0
certifi==2022.9.24
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cycler==0.11.0
dash==2.7.0
dash-bootstrap-components==0.10.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.6.0
dash-table==5.0.0
exceptiongroup==1.0.4
Flask==2.2.2
Flask-BabelEx==0.9.4
Flask-Compress==1.13
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
future==0.18.2
greenlet==2.0.1
idna==2.8
itsdangerous==2.1.2
Jinja2==3.1.2
json5==0.8.5
jsonschema==3.0.2
kiwisolver==1.4.4
lxml==4.9.1
Mako==1.2.4
MarkupSafe==2.1.1
matplotlib==3.1.1
mpmath==1.1.0
multitasking==0.0.11
mysqlclient==2.1.1
numpy==1.23.5
pandas==1.5.1
pandas-datareader==0.10.0
pandas-finance==0.1.2
passlib==1.7.4
plotly==5.11.0
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.1
pytz==2022.6
requests==2.22.0
requests-cache==0.9.7
retrying==1.3.3
six==1.16.0
soupsieve==2.3.2.post1
speaklater==1.3
SQLAlchemy==1.4.44
tenacity==8.1.0
unicodecsv==0.14.1
url-normalize==1.4.3
urllib3==1.25.5
Werkzeug==2.2.2
WTForms==2.2.1
xlrd==1.2.0
yfinance==0.1.55
