{% extends "layout.html" %}


{% block content %}
<div class="content-section">
    <form method="POST" action="" value="CSV">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Upload your portfolio</legend>
            <div class="form-group">
                    <div class="media">
                        <img class="center" src="{{ url_for('static', filename='csv_file.PNG') }}">
                    </div>
                {{ form.portfolio(class="center form-control-file") }}
                {% if form.portfolio.errors %}
                        {% for error in form.portfolio.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content%}