{% extends "layout.html" %}


{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Edit/Delete Positions</legend>
            <div class="form-group">
                <select id="stock" name="symbol">
                {% for key, value in stocks.items() %}
                    <option value={{ key }}> {{ key }}, owned {{ value }} </option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="staticEmail" class="col-sm-2 col-form-label text-right">{{ form.number_of_shares.label(class="form-control-label") }}</label>
                {% if form.number_of_shares.errors %}
                    {{ form.number_of_shares(class="form-control form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.number_of_shares.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.number_of_shares(class="form-control form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            {{ form.delete(class="btn btn-outline-danger") }}
        </div>
    </form>
</div>
{% endblock %}